<!DOCTYPE html>
<html>
    <style>
        html {
            font-family: sans-serif;
            font-size: smaller;
        }
    </style>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h2>Welcome to CloudService, <%= @user.name %></h2>       
        <p>
            You have successfully signed up to CloudService,
            your username is your email address: <%= @user.email %>.<br>
        </p>
        <p>
            Organisation: <%= @user.organisation.name %>
        </p>
        <p>
            Please verify your account by following this link: <%= @verify_url %>.
        </p>
        <p>Thanks for joining and have a great day!</p>
    </body>
</html>