<hr>

<footer>
  <p>Cloud Service &copy; <%=Time.now.strftime('%Y')%></p>
  <a href="" style="padding-right: 3px;">
    <img src="/assets/24x24_email.png" alt="Email" title="Email me" style="background-color: #3d3d3d"/></a>
  <a href="" target="_blank" style="padding-right: 3px;">
    <img src="/assets/24x24_linkedin.png" alt="LinkedIn" title="View my LinkedIn profile" style="background-color: #3d3d3d"/></a>
  <a href="" target="_blank" style="padding-right: 3px;">
    <img src="/assets/24x24_facebook.png" alt="Skype" title="Chat on Skype" height="24" style="background-color: #3d3d3d"/></a>
</footer>
